@model IEnumerable<ProjectDATN.Data.ViewModels.ProductVM>



@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="product">
            <div class="product-img">
                <img src="~/uploads/images/product/@item.Image" alt="" style="height:250px">
                <div class="product-label">
                    <span class="sale">-30%</span>
                    <span class="new">NEW</span>
                </div>
            </div>
            <div class="product-body">
                <p class="product-category">@item.CateName</p>
                <h3 class="product-name"><a href="#">@item.ProName</a></h3>
                <h4 class="product-price">@item.PerchasePrice <del class="product-old-price">@item.Price</del></h4>
                
                <div class="product-btns">
                   
                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Chi tiết</span></button>
                </div>
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn" data-id="@item.Id"><i class="fa fa-shopping-cart"></i> Thêm Giỏ Hàng</button>
                <input type="hidden" asp-for="@item.Id">
            </div>
        </div>
    }
}

