@model IEnumerable<CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b style="font-size:40px">Shopping Cart</b></h4></div>
                            @*<div class="col align-self-center text-right text-muted">@Model.Count() Sản phẩm</div>*@
                        </div>
                    </div>


                    <table class="table">
                        <tr>
                            <th>Ảnh</th>
                            <th>Ten san pham</th>
                            <th>So luong</th>
                            <th>Gia</th>
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="~/uploads/images/product/@item.Image" width="100px" /></td>
                                <td>@item.ProductName</td>
                                <td>
                                    
                                    <input type="number" asp-for="@item.Quantity" min="0" max="100" style="width:40px;text-align:center" id="Quantity-@item.ProductId" />
                                   
                                </td>
                                <td id="totalPrice-@item.ProductId" >@item.PriceTotal.ToString("#,##0") VND</td>
                                <td>
                                    <button type="button" class="btn btn-success " id="updateQuantity" data-id="@item.ProductId">
                                        Cập nhật
                                    </button>
                                </td>

                                <td><button type="button" data-id="@item.ProductId" class="Remove-cart" style="font-size:20px;color:red"><i class="fa-solid fa-trash"></i></button></td>
                            </tr>
                        }
                    </table>
                    <div class="accent-danger"><a asp-action="DeleteAll" asp-controller="Cart" asp-area="">Xóa tất cả</a></div>
                    <div class="back-to-shop"><a asp-action="Index" asp-controller="Home" style="font-size:18px">&leftarrow; <span class="text-muted">Tiếp tục mua hàng</span></a></div>
                </div>

                <table class="table">
                    <tr>
                        <td>
                            <div><h3><b>Tổng hợp</b></h3></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="col">@Model.Count() Sản phẩm</div>
                            <div class="col text-right">@Model.Sum(x=>x.PriceTotal).ToString("#,##0") VND</div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <form>
                                <p style="font-size:20px">Giao hàng</p>
                                <select><option class="text-muted" style="font-size:12px">Standard-Delivery- &euro;5.00</option></select>

                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col">TOTAL PRICE</div>
                                <div class="col text-right">@Model.Sum(x=>x.PriceTotal).ToString("#,##0") VND</div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="col-md-4 summary">
                    <button class="btn">Thanh Toán</button>
                </div>
            </div>


        </div>
    </div>
</div>
